@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #E8F5F7;
}

header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.subheader {
  margin: 50px 0px 30px 0px;
  background-color:#28534C;
  padding: 20px 0px 10px 0px;
  text-align: center;
}

.subheader h3 {
  color: white;
}

.subheader p {
  color: white;
}

.main-container {
  max-width: 1300px;
  margin: 0px 20px 20px 20px;
  height: 100vh;
}

.collect-container {
  display: flex;
}

.field-container {
  display: flex;
  justify-content: center;
}

.collect-lists-section {
  flex: 50%;
  flex-grow: 1;
  margin-right: 15px;
}
.collect-lists-section h5 {
  background-color: #28534C;
  padding: 20px 0px;
  border-radius: 8px;
  color: white;
}

.collect-form-section {
  flex: 50%
}

.collect-form-section h5 {
  background-color: #28534C;
  padding-top: 20px;
  padding-bottom:20px;
  border-radius: 8px;
  color: white;
}

.field-list-section {
  flex: 50%;
}

.field-form-section {
  flex: 50%;
}

.task {
  background: white;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #28534C;
}
